*{

margin:0;
padding:0;
box-sizing: border-box;
font-family: "Montserrat", sans-serif;

}

li{
display:inline-block;
}

nav{
display:inline-block;

}
header{
margin:30px 0px 144px 70px
}

a{
font-weight: 600;
font-size: 24px;
line-height: 28px;
margin: 0 20px 0 0 ;
cursor: pointer;
color: #2b2a47;
transition: opacity 0.2s;
text-decoration: none
}

a:hover{
opacity: 0.8;
}

.botao-login{
width:130px;
height:38px ;
border-radius: 20px;
background: #006fa2;
border:none;
font-size: 20px;
font-weight: 600;
color: rgb(227, 231, 235);
transition: opacity 0.2s;
}

.botao-login.botao-login:hover{
opacity: 0.8;
color:black;
}

.logo{
    width: 40%;
    vertical-align: middle;
}

.texto{
    width: 40%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 5%;
    text-align: left;
}

.main{
    text-align: center;
}

.botao-explore{
    width: 190px;
    height: 64px;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0 4px 5px rgb(0, 0, 0, 0.2);
    transition: opacity 0.3s;
}

.botao-explore:hover{
    opacity: 0.7;
}

.titulo{
    font-size: 30px;
    font-weight: 900;
    color: darkslategray;
}

.sub-titulo{
    color: darkslategray;
    line-height: 1.5;
    font-size: 25px;
}

.paragrafo{
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    margin: 20px 0 40px 0;
    max-width: 500px;
}
footer{
    text-align: center;
    background: #f4f4f4;
    padding: 50px;
    font-size: 14px;
    margin-top: 100px;

}
@media (max-width: 768px) {
    header {
        margin: 30px 0px 60px 0px;
        text-align: center;
        width: 100%;
    }

    a {
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        margin: 0 5px 0 0;

    }

    .botao-login {
        width: 70px;
        height: 32px;
        border-radius: 15px;
        font-size: 16px;
        font-weight: 500;
    }

    .logo {
        width: 60%;
        display: block;
        margin: 0 auto 50px auto;
    }

    .texto {
        width: 400px;
        text-align: center;
    }

    .titulo {
        font-size: 30px;
    }
}

